/* body */
body {
    overflow-x: hidden;
}

/* fonts */
.h-1 {
    font-size: 40px;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
}

.h-2 {
    font-size: 35px;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
}

.h-3 {
    font-size: 25px;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
}

.h-4 {
    font-size: 20px;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
}

.h-5 {
    font-size: 16px;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
}

.h-6 {
    font-size: 15px;
    font-weight: normal;
}

.h-7 {
    font-size: 12px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: lighter;
}

.line-height {
    line-height: normal;
}

/* colors */

.burgundy {
    background-color: #530707;
}

.caramel {
    background-color: #fbde9c;
}

.bittersweet-shimmer {
    background-color: #c74e51;
}

.pink {
    background-color: #ea9dae;
}

.royal-orange {
    background-color: #f99256
}

.white {
    background-color: white;
}

/* header */

.pointer {
    cursor: pointer;
}

@property --startColor {
    syntax: "<color>";
    initial-value: #e9e6c7;
    inherits: false;
}

@property --endColor {
    syntax: "<color>";
    initial-value: #dc677e;
    inherits: false;
}

@keyframes gradient {

    0%,
    100% {
        --startColor: #e9e6c7;
        --endColor: #dc677e;
    }

    50% {
        --startColor: #dc677e;
        --endColor: #911a1a;
    }
}

.reverse {
    flex-direction: row-reverse;
}

.div-top {
    color: white;
}

.sticky {
    position: sticky;
    top: 0;
    z-index: 1000;
}

.custom-btn {
    border: 1px solid #c74e51 !important;
}

.padding-button {
    padding: 12px 12px;
}

.baslik {
    align-content: center;
}

.collapses {
    transition: 0.3s all ease-in !important;
}

.search-container {
    display: flex;
    align-items: center;
    background: white;
    padding: 5px;
    border-radius: 20px;
    transition: all 0.3s ease;
    width: 40px;
    overflow: hidden;
}

.search-input {
    border: none;
    outline: none;
    width: 0;
    font-size: 16px;
    transition: width 0.3s ease;
    padding: 0;
}

.search-btn {
    border: none;
    background: none;
    cursor: pointer;
    padding: 5px;
}

.search-btn i {
    font-size: 18px;
    color: #333;
}

/* Butona tıklanınca genişleme efekti */
.search-container:focus-within {
    width: 200px;
}

.search-container:focus-within .search-input {
    width: 160px;
    padding-left: 5px !important;
}


.social-icons a {
    color: white;
    font-size: 17px;
    transition: color 0.3s ease-in-out;
}

.btn-icon {
    width: 20px;
}

.align-icons {
    display: grid;
    align-items: center;
}


/* main */


.go-to-top {
    width: 40%;
}

#scrollTopBtn {
    position: fixed;
    bottom: 20px;
    right: 20px;
    color: black;
    border: none;
    border-radius: 9px 9px 0px 0px;
    cursor: pointer;
    display: none;
    transition: opacity 0.3s, visibility 0.3s;
    z-index: 3;
    padding: 0%;
    width: 50px;
    height: 50px;
    box-shadow: -1px 1px 4px 2px rgb(0 0 0 / 10%);
}

#scrollTopBtn:hover {
    background-color: #c74e51;
}

.m6 {
    margin-top: 93.5px;
}

.m7 {
    margin-top: 150px;
}

.div-bottom {
    display: flex;

}

.deneme2 {
    display: block;
}


/* motto */

.border-motto {
    background: linear-gradient(to right, var(--startColor), var(--endColor));
    animation: gradient 5s linear infinite;
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 10px 20px;
    border-radius: 10px;
    text-align: center;
}

/* cards */

.card {
    overflow: hidden;
    box-shadow: 2px 3px 5px 1px rgb(0 0 0 / 10%);
}

.card-borders {
    border: 1px solid rgb(222, 222, 222);
}

.cards-photo {
    overflow: hidden;
}

.imgs {
    max-width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 4px 0px 0px 4px;
}

button {

    border: none;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;

}

.minute {
    display: list-item;
}

.photo-col {
    display: flex;
    justify-content: center;
    align-items: center;

}

/* aside */

.aside {
    height: 100%;
    border-radius: 4px;
    place-items: center;
}

.date-text {
    display: flex;
    align-items: end;
    gap: 20px;
    color: dimgrey;
}

.aside-place-center {
    display: grid;
    place-items: center;
}

.aside-place-start {
    display: grid;
    justify-content: start;

}

.email-container {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.email-input {
    background: transparent;
    border: none;
    border-bottom: 2px solid white;
    outline: none;
    padding: 5px;
    font-size: 16px;
    color: black;
    transition: border-bottom 0.3s ease;
    width: 100%;
}

.email-input::placeholder {
    color: transparent;
}

.email-container:hover .email-input {
    border-bottom: 2px solid black;
}

.h2-text {
    width: 80%;
    display: grid;
    place-items: center;
}

.subscribe-btn {
    border-radius: 9px 9px 0px 0px;
    border: none;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
}

.click-btn {
    border-radius: 9px 9px 0px 0px;
    transition: 0.5s;
}

.click-btn:hover {
    transform: scale(1.1);
}

.form-check {
    display: grid;
    place-content: start;

}

.form-check-input {
    transition: 0.3s !important;
}

.form-check-input:checked {
    background-color: #530707 !important;
    border-color: #530707 !important;
}

.img-wrapper {
    width: 100%;
    height: 175px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    transition: 1s all;
}

.img-wrapper:hover {
    transform: scale(1.1);
}

.img-wrapper img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}


/* footer */
footer .container {
    max-width: 800px;
    margin: 0 auto;
}

.footer-bottom {
    color: white;
}


/* responsive */

@media (max-width: 768px) {
    .except2 {
        display: none;
    }

    .m7 {
        margin-top: 100px;
    }

    .imgs {
        object-fit: cover;
        width: 100%;
        border-radius: 0px;
        height: 40vh;
        object-position: center;
    }

    .img-wrapper {
        width: 100%;
        height: 50vh;
    }
}

@media (max-width: 576px) {
    .except1 {
        display: none;
    }

    .h-1 {
        font-size: 26px;
    }
}

@media (max-width: 300px) {
    .h-1 {
        font-size: 20px;
    }

    .aside-sm-row {
        width: 220px;
    }
}
